# Mapping (CMUdict) ARPAbet to Oculus visemes

> "For a colleague"

- branch: master
- comments: false
- categories: [arpabet, oculus, visemes]

Using the [Oculus viseme reference](https://developer.oculus.com/documentation/unity/audio-ovrlipsync-viseme-reference/) with blanks filled in based on the Microsoft [SPVISEMES](https://learn.microsoft.com/en-us/previous-versions/office/developer/speech-technologies/jj127484\(v=msdn.10\))

In [2]:
%%capture
%pip install pandas

In [6]:
import pandas as pd

df = pd.read_csv('/tmp/arpa-oculus.tsv', sep='\t', header=None)

In [7]:
df

      0        1    2
0   AA0       aa  NaN
1   AA1       aa  NaN
2   AA2       aa  NaN
3   AE0        E   aa
4   AE1        E   aa
..  ...      ...  ...
65    W        U  NaN
66    Y        I  NaN
67    Z       SS  NaN
68   ZH       CH  NaN
69  spn  neutral  NaN

[70 rows x 3 columns]